nav {
  display: flex;
  background-color: rgb(19 25 33);
  color: white;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
  height: 60px;
  width: 100%;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
}

nav div {
  width: fit-content;
  min-width: fit-content;
  margin: 0 10px;
  font-size: small;
  height: 100%;
  padding: 10px 10px 0px 10px;
}

td:first-child {
  font-weight: bold;
}

nav .address {
  text-align: center;
}

.top-nav-bar div:hover:not(.search-bar, .cart-icon) {
  outline: 1px solid #fff;
  outline-offset: -2px;
  /* box-shadow: 0px 0px 0px 2px red inset; */
  cursor: pointer;
}

.return-orders {
  min-width: 80px;
}

.language-icon img {
  width: 25px;
}

.cart {
  display: flex;
}

.cart-icon {
  background: url(../../assests/img/cart-icon.png)
    no-repeat;
  width: 38px;
  height: 26px;
  /* min-width: 50px; */
}

.cart-label {
  padding:  15px 15px 0 0;
}

.search-bar {
  display: flex;
  width: 100%;
  border-radius: 10px;
  padding: 3px 4px;
}

.search-bar .departments {
  /* margin-right: -52px; */
  z-index: 2;
  border-radius: 5px 0px 0px 5px;
  border: 2px solid transparent;
  height: 43px;
  width: 50px;
  font-size: small;
  background-color: rgb(243 243 243);
}

.search-bar div {
  width: fit-content;
  display: flex;
}

.search-bar form {
  width: 100%;
  display: flex;
}

.search-field {
  width: 100%;
  height: 43px;
  /* border-radius: 10px; */
  border: none;
}

.search-bar[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid rgb(254, 189, 105);
  border-radius: 5px;
}

.search-bar:focus-within {
  box-shadow: -4px 0px 0pt 1pt orange inset, 4px 0px 0pt 1pt orange inset,
    0 -1px 0pt 3pt orange inset;
}

input:focus {
  outline: 0px;
  /* box-shadow: 0 0 0pt 2pt orange; */
}

.search-bar button {
  width: 50px;
  float: right;
  background: rgb(254, 203, 115);
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  border: 2px solid transparent;
  height: 43px;
}

.search-bar button:hover {
  background: rgb(228, 146, 5);
}

.logo {
  width: 90px;
  text-align: center;
  /* padding: 10px 0px; */
}

.middle-nav-bar {
  display: flex;
  background-color: rgb(35 47 62);
  height: 30px;
  width: 100%;
  align-items: center;
}

.middle-nav-bar .catagories {
  display: flex;
}

.middle-nav-bar .catagories a {
  min-width: fit-content;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 0 15px;
  margin-left: 15px;
}

.middle-nav-bar .catagories a:hover {
  outline: 1px solid #fff;
  cursor: pointer;
}

.bottom-nav-bar {
  display: flex;
  background-color: rgb(250 250 250);
  font-size: 12px;
  font-weight: 700;
}

.bottom-nav-bar a {
  min-width: fit-content;
  margin-left: 10px;
  padding: 10px;
}

.bottom-nav-bar a:hover {
  box-shadow: 0px 1px 0px 0px rgb(254, 189, 105);
}
